mixin card(id, title, author, image, categories, summary, prices, type, btnClass, btnText)
  .bookCard__wrapper
    .bookCard__descriptionWrapper
      h3.bookCard__description--title Overview
      p.bookCard__description= summary
    .bookCard__circleWrapper
      .bookCard__imageWrapper
        img(src=`/static/img/books/${image}` class='bookCard__image')
      .bookCard__buttonWrapper
        button(id= id class=btnClass)= btnText
    .bookCard__statsWrapper
      .bookCard__stats
        p.bookCard__author= author
        p.bookCard__title= title
        p.bookCard__categories 
          - const arr = categories
          each item in categories
            =`| ${item} `          
        h3.bookCard__prices--head Vendedor - Precio Del Articulo - Total 
        .bookCard__prices
         - const data = prices 
         each item in data 
          p=`${item.shop} - ${item.productPricing} - ${item.totalPricing} €`
        