mixin rankingsCard(id, title, author, image, categories, summary, prices, type)
  .videogameCard__wrapper
    .videogameCard__descriptionWrapper
      p.videogameCard__description= `${summary}`
    .videogameCard__circleWrapper
      .videogameCard__imageWrapper
        img(src=`/static/img/images/${image}` class='videogameCard__image')
      .videogameCard__rankAndButtonWrapper
        button.btnAddVideogame(id= id) ADD TO MY LIST
        h3.videogameCard__rankNumber Rank 
          span.videogameCard__rankNumber--number=rankNumber
    .videogameCard__statsWrapper
      .videogameCard__stats
        p.videogameCard__title= title
        p.videogameCard__rankNumber= `author: ${author}`
        p.videogameCard__score type: 
          span.videogameCard__score--number= type
        p.videogameCard__platform= `categories: ${categories}`
        .videogameCard__date prices
         - const data = prices 
         each item in data 
          p=`${item.shop}|${item.productPricing}|${item.totalPricing}`
        
mixin myListCard(id, title, author, image, categories, summary, prices, type)
  .videogameCard__wrapper
    .videogameCard__descriptionWrapper
      p.videogameCard__description= `${summary}`
    .videogameCard__circleWrapper
      .videogameCard__imageWrapper
        img(src=`/static/img/images/${image}` class='videogameCard__image')
      .videogameCard__rankAndButtonWrapper
        button.btnDeleteVideogame(id= id) DELETE FROM MY LIST
        h3.videogameCard__rankNumber Rank 
          span.videogameCard__rankNumber--number=rankNumber
    .videogameCard__statsWrapper
      .videogameCard__stats
        p.videogameCard__title= title
        p.videogameCard__rankNumber= `author: ${author}`
        p.videogameCard__score type: 
          span.videogameCard__score--number= type
        p.videogameCard__platform= `categories: ${categories}`
        p.videogameCard__date= `prices: ${prices}`